# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
#.gitignore文件必须放在存储库的根目录

# dependencies
/part1/node_modules
/part1/.pnp
.pnp.js

# testing
/part1/coverage

# production
/part1/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
